@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --red: #ff3838;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection {
    background: var(--red);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body {
    background: #f7f7f7;
}

section {
    padding: 2rem 5%;
}

.heading {
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}

.heading span {
    color: var(--red);
}

.socialbtn {
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.socialbtn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}

.socialbtn:hover::before {
    width: 100%;
    left: 0;
}

.socialbtn:hover {
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    width: 25%;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #666;
}

header .logo img {
    width: 60%;
    padding-right: .5rem;
    color: var(--red);
}

header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
}

header .navbar a:hover {
    color: var(--red);
}

#menu-bar {
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}

.home {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 120vh;
    align-items: center;
    background: url(../static/images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.journey {
    min-height: 50vh;
}

.home .content {
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}

.home .image {
    flex: 1 1 40rem;
}

.home .image img {
    width: 100%;
    padding: 1rem;
    animation: float 3s linear infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(3rem);
    }
}

.home .content h3 {
    font-size: 5rem;
    color: #333;
}

.home .content p {
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}

.review .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box {
    text-align: center;
    padding: 2rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border-radius: .5rem;
    flex: 1 1 30rem;
    background: #333;
    margin-top: 6rem;
}

.review .box-container .box img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}

.review .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}

.review .box-container .box .stars i {
    font-size: 2rem;
    color: var(--red);
    padding: .5rem 0;
}

.review .box-container .box p {
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
}

.aboutus .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.aboutus .box-container .box {
    text-align: center;
    padding: 2rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border-radius: .5rem;
    flex: 1 1 30rem;
    background: #333;
    margin-top: 6rem;
    height: 300px;
}

.aboutus .box-container .box .ourpic img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}

.aboutus .box-container .box .social img {
    height: 50px;
}

.aboutus .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}

.aboutus .box-container .box .stars i {
    font-size: 2rem;
    color: var(--red);
    padding: .5rem 0;
}

.aboutus .box-container .box p {
    font-size: 1.5rem;
    color: var(--red);
    padding: 1rem 0;
}


.contactus .row {
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: .5rem;
}

.contactus .row .image {
    flex: 1 1 30rem;
}

.contactus .row .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.contactus .row form {
    flex: 1 1 50rem;
    padding: 1rem;
}

.contactus .row form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contactus .row form .inputBox input,
.contactus .row form textarea {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    width: 49%;
}

.contactus .row form textarea {
    width: 100%;
    resize: none;
    height: 15rem;
}

.contactus .row form .socialbtn {
    background: none;
}

.contactus .row form .socialbtn:hover {
    background: var(--red);
}

.dashboard {
    padding-top: 50px;
    font-size: 12pt !important;
    align-items: center;
}

.dashboard .msgBtn {
    font-size: 12pt;
    margin-bottom: 3rem;
    background-color: #FF5757;
    border-color: #FF5757;
}

.dashboard .msgBtn:hover {
    background-color: #ffc1c1;
    border-color: #ffc1c1;
}

.dashboard .msgBtn:focus {
    background-color: #ffc1c1;
    border-color: #ffc1c1;
}

.dashboard .tab-pane .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.dashboard .tab-pane .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.dashboard .tab-pane .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.modal-title {
    font-size: 20px;
}

.modal-body {
    font-size: 15px;
}

.modal-body .form-control {
    font-size: 1.5rem;
}

.modal-footer .btn {
    font-size: 1.3rem;
}

#details {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#saveit {
    background-color: #FF5757;
    border: red;
    font-size: medium;
    margin-top: 2rem;
    margin-right: 1rem;
}

#mypage {
    min-height: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .dashboard .tab-pane .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .dashboard .tab-pane .column {
        flex: 100%;
        max-width: 100%;
    }
}


/* Gallery view close*/

.footer {
    background: #333;
    text-align: center;
}

.footer .share {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .credit {
    padding: 2.5rem 1rem;
    color: #fff;
    font-weight: normal;
    font-size: 2rem;
}

.footer .credit span {
    color: var(--red);
}

#scroll-top {
    position: fixed;
    top: -120%;
    right: 2rem;
    padding: .5rem 1.5rem;
    font-size: 4rem;
    background: var(--red);
    color: #fff;
    border-radius: .5rem;
    transition: 1s linear;
    z-index: 1000;
}

#scroll-top.active {
    top: calc(100% - 12rem)
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loader-container.fade-out {
    top: -120%;
}

/* media queries  */

@media(max-width:991px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media(max-width:768px) {

    #menu-bar {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, .1);
        border-left: .5rem solid var(--red);
        background: #fff;
    }

}

@media(max-width:450px) {

    html {
        font-size: 50%;
    }

    .order .row form .inputBox input {
        width: 100%;
    }

}

.card-body {
    padding: 10rem;
}

.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 200px;
    width: 100%;
}

.twPc-bg {
    background-image: url("https://www.steriflow.com/wp-content/uploads/2020/12/propo-agro.jpg");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 95px;
    width: 100%;
}

.twPc-block {
    display: block !important;
}

.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}

.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}

.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}

.twPc-divUser {
    margin: 5px 0 0;
}

.twPc-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.twPc-divName a {
    color: inherit !important;
}

.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}

.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}

ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}

.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}

.twPc-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}

.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}

.d-body {
    background: #fff;
}

.add-del a {
    color: rgb(133, 130, 130);
    padding: 0px 10px;
}

#board {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.modal-backdrop {
    /* bug fix - no overlay */
    display: none;
}

.createboard {
    padding: 5rem;
}

.createboardform {
    padding: 2rem;
    width: 100%;
}

.fsize {
    font-size: 1.5rem;
}