<!DOCTYPE html>

<head>
    <!-- bootstrap css cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <title>MeaLit: Sign-Up</title>
    <link rel="icon" href="/static/images/M.png">
</head>

<body class="register-bg" style="height: 100vh;">
    <div class="modal-content ps-5 pb-5 pe-5">
        <h3 class="mt-4 mb-3"><b>Create Account</b></h3>
        <div class="row">
            <form method="POST" action="/register">
                <!-- Username input -->
                <div class="form-outline mb-4">
                    <input type="name" name="username" class="form-control" placeholder="Username" required />
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" name="email" id="form2Example1" class="form-control" placeholder="Email Address"
                        required />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" name="password" id="form2Example2" class="form-control"
                        placeholder="Password" required />
                </div>

                <!-- Confirm Password input -->
                <div class="form-outline mb-4">
                    <input type="password" name="confirm_password" id="form2Example2" class="form-control"
                        placeholder="Confirm Password" required />
                </div>

                <input class="modal-red-btn btn text-white mt-3 w-100" type="submit" value="Submit">
                {% if message!= None %}
                <small class="text-muted mt-3">
                    {{ message }}
                </small>
                {% endif %}
            </form>
            <small class="text-muted mt-3">
                Already have an account? <a class="text-decoration-none" href="/login">Login Here</a>
            </small>
        </div>
    </div>
</body>

</html>